DATABASE_URL="postgresql://neondb_owner:npg_clUy8gQ0ZHFk@ep-aged-king-amb3xng0.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET="supersecretlocalkey123"
JWT_EXPIRES_IN="7d"
PORT=4000
FRONTEND_URL="http://localhost:5173"
NODE_ENV="development"
